* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
}

header{
    width: 800px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.container{
    width: 100%;
    min-height: 90vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title{
    font-size: 3em;
    padding: 50px;
}

.remove{
    display: none;
}

.copy{
    margin-left: 100px;
    padding-top: 5px;
}

#box_game{
    width: 600px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.size{
    font-size: 3em;
    justify-content: center;
    align-items: center;
}

.box{
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}

.hard{
    width: 3.5em;
    height: 3.5em;
}

.medium{
    width: calc(100% / 9);
    height: 64px;
}

.easy{
    width: calc(100% / 7);
    height: 83px;
}

#refresh{
    width: fit-content;
    margin: 10px auto;
    padding: 1em;
}

.select{
    background-color: rgb(0, 110, 255);
}

#error{
    background-color: red;
}